<!DOCTYPE html>
<html>
    <head>
    <title>Colector</title>
    </head>
    <body>
        <h1>Carwash Stations:</h1>
            <div>Errors:</div>
            <div>
                <table width="200" border="1">
                    <tbody>
                 {% if Stations %}
                 {% for Station in Stations %}
                    <tr>
                        <td><a href="/colector/category/{{ Station.slug }}"><h1>{{ Station.name }}</h1></a>
                        {% for k in Errors %}
                        {% if forloop.counter0 == 0 %}
                            <h3>{{ Errors.pop }}</h3>
                        {% endif %}
                        </td>
                    </tr>
                 {% endfor %}
                 {% endfor %}
                {% else %}
                <strong>There no stations!</strong>
                 {% endif %}
                    <tbody>
                    </table>
                </div>
            <div>
            <a href="/colector/about/">About</a><br />
        </div>
    </body>
</html>